@import url('https://fonts.cdnfonts.com/css/Akrobat');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');

@import url('https://fonts.googleapis.com/css2?family=Akrobat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Akrobat:wght@300;400;500;600;700&family=Readex+Pro:wght@200;300;400;500;600;700&family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.color-0{color: rgb(255, 255, 255);}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  margin: 0;
  padding: 0;

  font-family: Akrobat;
  letter-spacing: 2px;
}

.no-grow {
  flex-grow: 0;

}

em {
  font-style: normal;
}

#app {

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(255, 255, 255);
}

.chat-window {
  position: absolute;
  padding: 2rem;
  width: 38%;
  height: 22%;
  max-width: 1000px;
  background: transparent !important;
  -webkit-animation-duration: 2s;
}


.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 95%;

  font-size: 1.9vh;
  margin: 1%;
  background: transparent !important;
  font-family: 'Akrobat';

  font-size: 1.05rem;
  overflow-x: hidden;
  overflow-y: hidden;
}


.chat-input {
  font-size: 1.65vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
  margin-top: 1rem;
  top: 23.8%;
  left: 0.8%;
  width: 33%;
  height: 3.4%;
  max-height: 3.4%;
  max-width: 1000px;
}

.prefix {
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.5%;
  left: 0.208%;
}

textarea {
  font-size: 1.65vh;
  display: block;
  padding: 1%;
  padding-left: 3.5%;
  color: white;
  background-color: rgba(44, 62, 80, 0);
  width: 100%;
  border-width: 0;
  height: 3.15%;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 0.28%;
}

.multiline {
  margin-left: 4%;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.65vh;
  box-sizing: border-box;
  color: white;
  background-color: rgb(0, 0, 0, .5);
  width: 100%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}