/* body  {
    background: url(../assets/workbg.png)
} */

.markets-container {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 238px 45px rgb(178, 147, 61);
    box-shadow: inset 0rem 0 100rem rgba(0, 0, 0, 1);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    background: rgba(26, 26, 26, 0.8);
    width: 50vw;
    height: 60vh;
    overflow: hidden;
    border-radius: .4rem;
}

.markets-container::before,
.markets-container::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.08);
    z-index: -1;
}

/* Diagonal cut from top left */
.markets-container::before {
    top: 0;
    left: 0;
    transform-origin: top right;
    transform: skewX(85deg);
}

/* Diagonal cut from bottom right */
.markets-container::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom left;
    transform: skewX(85deg);
}


.market-top {
    gap: 4.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: TT Norms Pro;
    margin-top: 3rem;
    margin-left: 3rem;
    color: white;
}

.market-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: TT Norms Pro;
}

.market-title {
    
    font-size: 2rem;
    font-weight: bolder;
}

.market-subtitle {
    font-size: 1rem;
    font-weight: bolder;
}

.market-top-left > .user-info {
    font-size: 1rem;
    color:rgb(188, 188, 188);
    font-weight: bolder;
}

.market-player-dsign {
    color: rgb(172, 255, 172);
    margin-right: .3rem;
}

.market-player-balances {
    float: right;
    display: flex;
    box-shadow: 0px 0px 238px 45px rgba(178, 147, 61,1);

    gap: 1rem;
    font-weight: bold;
    flex-direction: row;
    width: max-content;
    font-size: 0.8rem;
    border: 3px dotted rgb(84, 84, 84);
    padding: 1rem;
    border-radius: .7rem;

}

.market-player-cash {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.market-player-bank {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.market-player-bank > i {
    margin-right: .5rem;
    color: white;
    font-size: 1rem;
}

.market-player-cash > i {
    margin-right: .5rem;
    color: white;
    font-size: 1rem;
}

.market-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.market-title-container > i {
   font-size: 1.8rem;
   background: transparent;
   margin-right: 1rem;
}

.market-search-container {
    padding: .5rem;
    box-shadow: 0px 0px 238px 45px rgba(178, 147, 61,1);
    padding-left: 1.3rem;
    padding-right: 1rem;
    border-radius: 1rem;
    background:rgb(35, 35, 36);
}

.market-search-item {
    background:rgba(0, 0, 0, 0.0);
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
    outline: none;
    border: none;
}

.market-item {
    display: flex;
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: TT Norms Pro;
    font-weight: bold;
}

.market-cart {
    width: 15vw;
    margin: 1rem;
    border-radius: .5rem;
    height: 43vh;
}

.market-cart-title-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.market-cart-title {
    font-family: TT Norms Pro;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bolder;
}

.market-button.cancel {
    background-color: rgba(156, 89, 89, 0.5);
}
.market-button.cancel:hover {
    background-color: rgba(155, 44, 44, 0.5);
}

.market-cart-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-family: TT Norms Pro;
}

.market-cart-items {
    width: 15vw;
    height: 31vh;
    overflow-y: scroll;
    margin-bottom: 1rem;
}

.market-cart-items::-webkit-scrollbar {
    display: none;
}

.market-cart-item-img {
    width: 40px;
}


.market-cart-item {
    margin-bottom: 1rem;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    padding: .3rem;
    border-radius: .3rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.market-cart-buttons {
    margin-top: 1rem;
}

.market-cart-total {
    background:rgba(13, 13, 13, 0.8);
    margin-top: 1rem;
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
    border-radius: .3rem;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(172, 255, 172);
    padding: .5rem;
    padding-right: 12rem;

}
.market-main-content {
    display: flex;
    height: 50vh;
    border-radius: .3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-wrap: wrap;
    width: max-content;
    max-width: 50vw;
    flex-direction: row;
    margin-top: 1rem;
}

.market-cart-item-name {
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
}

.market-cart-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
    margin-left: 6rem;
    justify-content: center;
}

.market-divider {
    width: 2px;
    background: rgba(255, 255, 255, 0.283);
    height: 45vh;
}

.market-cart-item-price {
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
    background: rgba(46, 155, 44, 0.5);
    padding: .3rem;
    margin-left: 1rem;
    border-radius: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.market-cart-item-quantity-decrease {
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
    background: rgba(155, 44, 44, 0.5);
    padding: .3rem;
    border-radius: .3rem;
    transition: background .1s ease-in-out;
    padding-left: .5rem;
    padding-right: .5rem;
}

.market-cart-item-quantity-decrease:hover {
    transition: background .1s ease-in-out;
    background: rgba(255, 71, 71, 0.5);
}

.market-cart-item-quantity-increase:hover {
    transition: background .1s ease-in-out;
    background: rgba(143, 245, 128, 0.592);
}

.market-cart-item-quantity-increase {
    color: white;
    font-family: TT Norms Pro;
    transition: background .1s ease-in-out;
    font-weight: bolder;
    background: rgba(87, 149, 77, 0.592);
    padding: .3rem;
    border-radius: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.market-cart-item-quantity {
    color: white;
    font-family: TT Norms Pro;
    font-weight: bolder;
    background: rgba(84, 84, 84, 0.79);
    padding: .3rem;
    border-radius: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.market-items {
    display: flex;
    height: 50vh;
    border-radius: .3rem;
    overflow-y: scroll;
    
    overflow-x: hidden;
    flex-wrap: wrap;
    width: 33vw;
    flex-direction: row;
    margin-bottom: 3rem;
}

.market-main-content::-webkit-scrollbar {
    display: none;
}
.market-items::-webkit-scrollbar {
    display: none;
}
.market-item-name {
    float: left;
    width: 120px;
}
.market-item-img {
    width: 90px;
    max-width: 100px;
    margin-top: .4rem;
    background:rgba(0, 0, 0, 0.601);
    padding: 1rem;
    border-radius: .5rem;
}

.market-item-bottom {
    display: flex;
    max-width: 100px;
    flex-direction: row;
    text-align: center;
    margin-top: .5rem;
    gap: .4rem;
    align-items: center;
    justify-content: center;
}

.market-item-price {
    font-size: .8rem;
    background-color: rgb(89, 156, 89, .3);
    padding: .5rem;
    border-radius: .3rem;
    border: 3px dotted rgba(125, 221, 125, 0.5);
}

.market-button {
    font-size: .8rem;
    background-color: rgb(89, 156, 89, .5);
    width: max-content;
    transition: background .1s ease-in-out;
    padding: .7rem;
    border-radius: .2rem;
}

.market-button:hover {
    transition: background .1s ease-in-out;
    background-color: rgba(55, 98, 55, 0.5);
}

@media screen and (min-height: 900px) and (max-height: 900px) {
    
    .market-top {
        transform: scale(0.8)
    }
    .markets-container {
        align-items: flex-start;
    }
    .market-main-content {
        flex-wrap: nowrap;
        overflow: visible;
        width: 55vw;
        max-width: 55vw;
        overflow-x: visible !important;
        overflow-y: visible !important;
        margin-top: -1rem;
        transform: scale(0.8)
    }
   
    
    .market-cart-items {
        width: 20vw;
        height: 25vh;
    }
}
@media screen and (min-height: 768px) and (max-height: 768px) {
    .market-top {
        transform: scale(0.8)
    }
    .markets-container {
        align-items: flex-start;
    }
    .market-main-content {
        flex-wrap: nowrap;
        overflow: visible;
        width: 55vw;
        max-width: 55vw;
        overflow-x: visible !important;
        overflow-y: visible !important;
        margin-top: -1rem;
        transform: scale(0.8)
    }
   
    
    .market-cart-items {
        width: 20vw;
        height: 25vh;
    }
}