@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');

.payday-container {
    color: white;
    border-radius: 1rem;
    font-family: 'BankGothic Md BT', sans-serif;
    display: flex;
    font-size: 1.3rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 90%;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

