@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');

.payday-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0rem;
    right: 25rem;
    width: 10rem;
    height: 10rem;
    font-family: Akrobat;
    font-size: 2.8rem;
    transform: skew(-10deg);
    font-weight: bold;
    text-align: center;
    color: white;
    background: linear-gradient(360deg, rgba(0,215,255,1) -20%, rgba(255,255,255,0) 100%);
}

.payday-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.payday-container > img {
    width: 80%;
    filter: blur(2px);
    z-index: -1;
    margin-bottom: -8rem;
}

.payday-time {
    font-size: 2.4rem;
    transform: skew(-10deg);
}


