.speedometer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    right: 6rem;
    font-family: Poppins;
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    text-align: right;
}

.vehicle-gear {
    background: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    width: max-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.vehicle-data-1 {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 1rem;
    flex-direction: column;
}

.vehicle-speed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.vehicle-speed-unit {
    border-radius: .5rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.669);
    font-weight: 600;
    margin-bottom: -1.3rem;
}

.vehicle-data-2 {
    display: flex;
    margin-right: -4rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    width: max-content;
    padding: 0.5rem 1rem;
    flex-direction: row;
    gap: 1rem;
}

.vehicle-data-2 > i {
    font-size: 1.5rem;
    color: white;
}